<div style="height:75vh;">
    <div class="input-group mb-3 ml-lg-5">
      <input type="text" class="form-control" value="{{deplot_link}}"  placeholder="Select search deploy link" aria-label=""
        aria-describedby="basic-addon1" #deployjsInput readonly>
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="copyInputMessage(deployjsInput)" type="button">Copy</button>
      </div>
    </div>
    <div>
SIP (Systematic Investment Plan) - is one of the most disciplined approach to investments in mutual funds. It lets you set aside a fixed sum of money at regular intervals (weekly, monthly, and quarterly) with an objective to generate capital appreciation in the longer run. SIP investment inculcates the habit of savings, the best way to save regularly without fail is to make your Salary Day as your SIP date.Other than being a disciplined approach to investments, SIP investment also has its own advantages. Two of which are – Rupee-Cost Averaging and Power of Compounding.
    </div>
</div>
