<div class="input-group mb-3 ml-lg-5">
    <input type="url" class="form-control" placeholder="Enter web url. . ." aria-label=""
      aria-describedby="basic-addon1" #linkInput>
    <div class="input-group-append">
      <button class="btn btn-primary" (click)="startCrawlingLink(linkInput)" type="button">Start Crawling</button>
    </div>
  </div>
<ag-grid-angular
    style="height: 70vh;"
    class="ag-theme-alpine"
    [rowData]="weblinks_data"
    [columnDefs]="column_names"
    [gridOptions]="gridOptions"
>
</ag-grid-angular>